body {
    font-family: Arial, sans-serif;
    background-image: url('https://media1.thrillophilia.com/filestore/iu79udtdy63d7kkbi25r56oojnml_1552979160_bekal_fort.jpg?w=400&dpr=2');
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:forestgreen;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 50px;
    position:sticky;
    top: 0px;
    z-index:5;
    color:green;
    padding: 10px;
    
}
 
h1.scrolled {
    background-color: white;
}


h1:hover{
    color: darkgreen;
    transform: scale(1.1);
    text-shadow: 4px 4px 8px rgba(0,0,0,0.7);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 15px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.2rem;
}

.card:hover {
    transform: scale(1.05);
     
}

.hidden-cards {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

#see-more-btn {
    background-color: #28b62d; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    margin: 20px auto; 
    display: block; 
}
    
#see-more-btn:hover {
    background-color: lightseagreen; 
}

#content-section {
    margin-top: 20px;
    color:darkgreen;
    display: none;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    clear: both;
    overflow: hidden;
}

#content-section img {
     width :60%;;
    height: auto;
}

.back-btn {
    background-color: #28b62d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}

.back-btn:hover {
    background-color: lightseagreen;
}

